{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'css/ig.css' %}">
  <title>kaTzEgRaM</title>
</head>
<body class="">
  <div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
      <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-white d-flex sticky-top" style="border-right: 1px rgb(235, 216, 238) solid;">
        <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3">
          <a href="#" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto loader text-decoration-none mt-4">
            <span class="fs-5 more" style="font-family: 'Times New Roman', Times, serif;"><b>K<span class="d-sm-inline">AtZeGrAm</span></span></b> 
            <span class="opt">{{user.username}}<span class=""></span>
          </span> 
          </a>
          <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a href="{% url 'home'%}" class="nav-link px-sm-0 px-2 mt-4 more loader">
                <img height="25" src="{% static 'icons/Instagram-Home-Icon-n3fd2.png'%}" alt=""><span class=" more ms-3 d-none d-sm-inline loader">Home</span>
              </a>
            </li>
              <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2 mt-3 more loader">
                  <img height="25" src="{% static 'icons/serach.png'%}" alt=""><span class=" more ms-3 d-none d-sm-inline">Search</span></a>
              </li>
              <li>
                <a href="explore.html" class="nav-link px-sm-0 px-2 mt-4 more loader">
                  <img height="25" src="{% static 'icons/explore.png'%}" alt=""><span class=" more ms-3 d-none d-sm-inline">Explore</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-sm-0 px-2 mt-4 more loader">
                  <img height="25" src="{% static 'icons/reels.png'%}" alt=""><span class="ms-3 d-none d-sm-inline">Reels</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-sm-0 px-2 mt-4 more"><img src="" alt=""><img height="25" src="{% static 'icons/notification.png'%}" alt=""><span class="ms-3 d-none d-sm-inline loader">Notifications</span></a>
              </li>
              <li id="create">
                <a href="{% url 'create' %}" class="nav-link px-sm-0 px-2 mt-4 more">
                  <img height="25" src="{% static 'icons/create2.png'%}" alt=""><span class="ms-3 d-none d-sm-inline loader">Create</span> </a>
              </li>
              <li>
                {% if user.profile.profile_image%}
                <a href="{% url 'profile' request.user.id %}" class="nav-link px-sm-0 px-2 mt-4 more">
                  <img height="25" width="25" class="rounded-circle" src="{{user.profile.profile_image.url}}" alt=""><span class="ms-3 d-none d-sm-inline loader">Profile</span> </a>
                  {% else %}
                  <a href="{% url 'profile' request.user.id %}" class="nav-link px-sm-0 px-2 mt-4 more">
                    <img height="25" width="25" class="rounded-circle" src="{% static 'icons/default_profile_pic.png' %}" alt=""><span class="ms-3 d-none d-sm-inline loader">Profile</span> </a>
                  {% endif %}
              </li>
          </ul>
          <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1 more">
              <a href="#" class="text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="ms-0 d-none d-sm-inline text-black"><img height="25" src="{% static 'icons/icons8-hamburger-32.png'%}" alt=""></span>
                <span class="d-none d-sm-inline mx-1 text-black more">More</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow-lg" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                <li><a class="dropdown-item" href="#">Apperance</a></li>
                <li><a class="dropdown-item" href="#">random</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Switch accounts</a></li>
                <li><a class="dropdown-item" href="{% url 'logout'%}">Log out</a></li>
              </ul>
            </div>
        </div>
      </div>
        
      <div class="col d-flex flex-column h-100">
          <main class="">
              {% block content%}

              {% endblock %}
              
              
          </main>
      </div>
      
    </div>
  </div>
  <footer class="foot sticky-bottom bg-white out pt-2">
    <a href="{% url 'home' %}">
      <span class="text-black comp"><img class="ing" src="{% static 'icons/Instagram-Home-Icon-n3fd2.png'%}" alt=""></span>
    </a>
    <a href="">
      <span class="text-black comp"><img class="ing" src="{% static 'icons/explore.png'%}" alt=""></span>
    </a>
    <a href="">
      <span class="text-black comp"><img class="ing" src="{% static 'icons/create2.png'%}" alt=""></span>
    </a>
    <a href="">
      <span class="text-black comp"><img class="ing" src="{% static 'icons/reels.png'%}" alt=""></span>
    </a>
    <a href="">
      <span class="text-black comp"><img class="ing" src="{% static 'icons/notification.png'%}" alt=""></span>
    </a>
    <a href="{% url 'profile' request.user.id%}">
    {% if user.profile.profile_image%}
    <span class="text-black comp"><img class="ing rounded-circle" src="{{user.profile.profile_image.url}}" alt=""></span>
    {% else %}
    <span class="text-black comp"><img class="ing rounded-circle" src="{% static 'icons/default_profile_pic.png'%}" alt=""></span>
    {% endif %}
    </a>
  </footer>
  <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
  <script src="{% static 'js/ig.js' %}"></script>
  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
  <!-- <script src="{% static 'js/jquery-3.6.1.js' %}"></script> -->
</body>
</html>
