{% extends 'base.html' %}
{% block content %}
{% load static%}

      
<div class="col pt-5">
  <div class="d-sm-flex">
    <div class="raas">
      <div class="ms-4">
        {% for profile in profile %}
        {% if profile.profile_image %}
        <a href="{% url 'profile' profile.user.id %}" class="text-decoration-none">
        <img class="rounded-circle comt" height=60 width=60 src="{{profile.profile_image.url}}" alt="">
        </a>
        {% else %}
        <a href="{% url 'profile' profile.user.id %}" class="text-decoration-none">
        <img class="rounded-circle comt" height=60 width=60 src="{% static 'icons/default_profile_pic.png' %}" alt="">
        </a>
        {% endif %}
        &nbsp;
        {% endfor %}
        <br><br><br><br>
        
        </span>
        
        
      </div>
      {% for posts in posts %}        
      <div class="hello ms-7" style="width: 450px;">
        {% if posts.user.profile.profile_image %}
        <img class="rounded-circle comt" height="30" width="30" src="{{posts.user.profile.profile_image.url}}" alt="">
        {% else %}
        <img class="rounded-circle" height="30" width="30" src="{% static 'icons/default_profile_pic.png' %}" alt="">
        {% endif %}
        <b><a class="text-decoration-none text-black" href="{% url 'profile' posts.user.profile.user.id %}">{{posts.user.username}}</a></b>&nbsp;<span class="text-muted">{{posts.created_at}}</span><br><br>
        <img class="fit rounded-1" height="500" width="450"  src="{{posts.content.url}}" alt=""><br><br>
        <a href="#" class="text-decoration-none">
          <img height="28" src="{% static 'icons/notification.png'%}" alt="">
        </a>&nbsp;
        <a href="{% url 'post_detail' posts.pk %}" class="text-decoration-none">
          <img height="25" src="{% static 'icons/comment.png'%}" alt="">
        </a>&nbsp;
        <a href="" class="text-decoration-none">
          <img height="25" src="{% static 'icons/icons8-paper-plane-64.png'%}" alt="">
        </a><br>
        <p>Liked by<b> kachy</b> and <b>1140 others</b></p>
        {% if posts.caption %}
        <b>{{posts.user.username}}</b>&nbsp; {{posts.caption}}
        {% endif %}
        {% if posts.comments.all %}
        <p class="text-muted">View all {{posts.comments.count}} comment</p>
        {% for comments in posts.comments.all|slice:2 %}
        <b>{{comments.user.username }}</b> {{comments.text}} <br>
        {% endfor %}
        {% endif %}
        
      <hr class="wit"width="100%">
      </div>
      {% endfor %}
      
    </div>
    <div class="knock ms-8">
      <div class="mb-1 d-sm-flex">
        {% if user.profile.profile_image%}
        <img class="rounded-circle" height=60 width=60 src="{{user.profile.profile_image.url}}" alt="">
        {% else %}
        <img class="rounded-circle" height=60 width=60 src="{% static 'icons/default_profile_pic.png'%}" alt="">
        {% endif %}
        <div style=" width: 120px;" class="ms-3 mt-3 fw-5">{{user.username}}</div>
        <div class="text-primary ms-5s  mt-3 fs-7"><b>Switch</b></div>
      </div>
      <span class="text-muted "><b>Suggested for you</b><span class="ms-7 fw-5">See all</span></span><br>
      {% for profile in profile %}
      <div class="mt-2 d-sm-flex">
        {% if profile.profile_image%}
        <img class="rounded-circle comt" height="40" width="40" src="{{profile.profile_image.url}}" alt="">
        {% else %}
        <img class="rounded-circle" height=40 width=40 src="{% static 'icons/default_profile_pic.png'%}" alt="">
        {% endif %}
        <div class="ms-2" style="width: 150px;">
          <span class="fw-6">{{profile.user.username}}</span>&nbsp; <br>
          
          <span class="text-muted fw-5 fs-7">followers:{{profile.followed_by.count}} posts:{{profile.user.posts.count}}</span>
          
        </div>
        <div class=" ms-5s">
          <a href="#" class="fw-5 text-decoration-none fs-7">Follow</a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
