{% extends 'base.html' %}
{% block content %}
{% load static%}


<div class="col pt-5 more">
  <section class="ms-6 me-5">
      <div style="display: flex;">
          <div class="ms-5">
            {% if profile.profile_image %}
              <img class="rounded-circle" height="150" width="150" src="{{profile.profile_image.url}}" alt="">
            {% else %}
              <img class="rounded-circle" height="150" width="150" src="{% static 'icons/default_profile_pic.png'%}" alt="">
            {% endif %}
          </div>
          <div class="">
              <span class="ms-6 fs-5">{{profile.user.username}}</span>
              &nbsp;
              <form action="" method="POST" style="display: inline;">
              {% csrf_token %}
              {% if profile in user.profile.follows.all %}
              <button class=" ter mt-2 rounded-3 btn fw-5" name="follow" type="submit" value="unfollow">following</button>
              &nbsp;
              {% else %}
              <button class="mt-2 rounded-3 btn fw-5 ter" name="follow" type="submit" value="follow">follow</button>
              &nbsp;
              {% endif %}
              
              </form>
              <button class=" ter mt-2 rounded-3 btn fw-5">message</button>
              &nbsp;
              
              
              <img height="25" src="fb mes.png" alt=""><br>
              <div class="mt-4 ms-5">
                  <span class="ms-5"><span class="fw-5">{{posts.count}}</span> posts</span> 
                  <span class="ms-4" id="button"><span class="fw-5">{{profile.followed_by.count}}</span> followers</span>
                  <span class="ms-5"> <span class="fw-5">{{profile.follows.count}}</span> following</span><br>
                  <span class="ms-5 fw-5">{{profile.user.first_name}}</span><br>
                  <span class="ms-5">i write in weird languages</span><br><br>
                  <span class="ms-5 text-muted fs-7 fw-5">Followed by</span>
                    {% for following in profile.followed_by.all%}
                    <span class="fs-7 fw-6">{{following|slice:3}},</span>
                    
                    {% endfor %}
                  
                  </div>
          </div>
      </div>
      <hr class="mt-5 ">
    <div id="overlay"></div>
    <div id="popup">
        <div class="popupcontrols sticky-top bg-white d-flex" style="border-bottom: 1px solid rgb(218, 215, 215);">
          <div class="fw-5 ms-8 mb-3">Followers</div>
          <hr>
          <div id="popupclose" class="ms-8ss">X</div>
        </div>
        <div class="popupcontent">
          {% for profile in profile.followed_by.all %}
          <div class="mt-2 d-sm-flex">
            {% if profile.profile_image%}
            <img class="rounded-circle comt" height="40" width="40" src="{{profile.profile_image.url}}" alt="">
            {% else %}
            <img class="rounded-circle" height=40 width=40 src="{% static 'icons/default_profile_pic.png'%}" alt="">
            {% endif %}
            <div class="ms-2" style="width: 150px;">
              <span class="fw-6">{{profile.user.username}}</span>&nbsp; <br>
              
              <span class="text-muted fw-5 fs-7">{{profile.user.first_name}}</span>
              
            </div>
            <div class=" ms-6">
              {% if profile not in user.profile.follows.all%}
              <button class="fw-5 btn tem">Follow</button>
              {% else%}
              <button class="fw-5 btn tem">Following</button>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          
        </div>
  </div>

    
  <div>
    <ul class="d-flex list-unstyled">
      <li class="ms-10 fs-7 fw-5">POSTS</li>
      <li class="ms-6 fs-7 fw-5">TAGGED</li>
      <li class="ms-6 fs-7 fw-5">REELS</li>
    </ul>
  </div>
  <section>
    {% if posts %}
    {% for posts in posts %}
    <a href="{% url 'post_detail' posts.id %}">
      <img class="mt-1 me-0s" src="{{posts.content.url}}" height="309" width="309" alt="">
    </a>
    {% endfor %}
    {% else %}
    <p>there are no posts</p>
    {% endif %}
    
  </section>
  </section>
  
</div>

<section class="opt p-0">
  <div style="display: flex;" class="ms-3">
    <div class="pt-4">
      {% if profile.profile_image %}
      <img class="rounded-circle" height="80" width="80" src="{{profile.profile_image.url}}" alt="">
      {% else %}
      <img class="rounded-circle" height="80" width="80" src="{% static 'icons/default_profile_pic.png' %}" alt="">
      {% endif %}
    </div>
    <div>
      <div class="ms-4 pt-3 fs-5">{{profile.user.username}}</div>
      <div class="ms-4 mt-2">
        {% if request.user.id == profile.user.id %}
        <button class="mt-2 rounded-3 btn idk fw-5">Edit Profile</button> <br>
        <button class="mt-2 rounded-3 btn idk fw-5">Edit Profile</button>
        {% else %}
        <button class="ibx mt-2 rounded-3 btn fs-6 fw-5 ">following</button>
        <!-- <button class="ibx mt-2 rounded-3 btn fs-6 fw-5 ">follow</button> -->
        <button class="ibx mt-2 rounded-3 btn fs-6 fw-5 ">Message</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="mt-4 ms-3">
    <p class="fs-6">{{profile.user.first_name}}<br>{{profile.profile_bio}}</p>
  </div>
  <hr class="mt-3">
  <div>
    <ul style="display: flex; list-style-type: none;; text-align: center;">
      <li class="ms-3"><span style="font-weight: 600;">{{posts.count}}</span><span style="display: block;">post</span></li>
      <a href="followed_by.html" class="text-decoration-none text-black">
        <li class="ms-5s"><span style="font-weight: 600;">1405</span><span style="display: block;">followers</span></li>
      </a>
      <a href="follows.html" class="text-decoration-none text-black">
        <li class="ms-5s"><span style="font-weight: 600;">665</span><span style="display: block;">following</span></li>
      </a>
    </ul>
  </div>  
  <hr>           
  <div>
    <ul class="text-center list-unstyled d-flex ">
      <li class="ms-5s"><span style="font-weight: 600;"><img height="25" src="create.png" alt=""></span></li>
      <li class="ms-6"><span style="font-weight: 600;"><img height="25" src="create.png" alt=""></span></li>
      <li class="ms-6"><span style="font-weight: 600;"><img height="25" src="create.png" alt=""></span></li>
    </ul>
  </div>    
  <section>
  {% if posts %}
  {% for posts in posts %}
    <img class="res mt-1" src="{{posts.content.url}}" alt="">
  {% endfor %}
  {% else %}
  <p>there are no post</p>
  {% endif %}
    

    
  </section>         
</section>








{% endblock %}
