{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/ig.css' %}">
  
  <title>kaTzEgRaM</title>
</head>
<body>
  <section class="cent">
    <div class="pt-5">
      <h1>kaTzEgRaM</h1>
      <p class="fw-5"> Sign up to see posts from gees </p>
          <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <br>
              <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
      
      </div>
  </section>
  

  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>